---
---

@import "type-on-strap";
/* .site-footer{
  background: rgb(254,255,255);
  background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}
.site-header{
  background-color: #101010;
}
.site-header a{
  color: #efefef;
}*/
.excerpt{
  text-indent: 1.5em;
}
.post-teaser:nth-child(odd) {
  background-color: #FAFAFA;
}
.call-out{
  font-size: 1.5em;
  padding: 8% 20% !important;
  background-position: center center !important;
  position: relative;
  background-size: cover;
}
.site-footer{
  color: #FFFFFF;
  background-color: #222;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) inset;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) inset;

}
.site-footer ul{
  margin-bottom: 0 !important;
}
.site-footer p.text{
  padding-top: 10px;
  text-shadow: 1px 0px 5px rgba(0, 0, 0, 1);
}

.site-footer p.text:first-of-type a{
  color: #dddddd;
}

#footer-img{
  width: 30%;
  border-radius: 5px;
  border:1px solid #cccccc;
  padding: 2px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.post-img{
  border-radius: 0 !important;
}

.posts .post-teaser{
  border-bottom: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

#footer-img{
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .site-footer{
    text-align: center;
    padding: 0;
  }
  #footer-overlay{
    padding: 5% 10px;
  }
  header ul{
    padding-top: 5% !important;
  }
  nav ul li{
    width: 100%;
    text-align: center;
    border: 1px solid #507492;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    transition: 1s;
  }
  nav ul li:hover{
    background-color: #507492;
    color: #FFFFFF;
  }
  nav ul li:hover a{
    color: #FFFFFF;
  }

}
@media (min-width: 1000px) {
  .site-footer{
    padding: 5% 20%;
  }
  #footer-overlay{
    padding: 10px 10px;
    border-radius: 5px;
  }
  #footer-img{
    float: left;
    margin-right: 15px;
  }
}