---
layout: default
---

<div class="home">

  <div class="posts">
    {% assign i = 0 %}
    {% for post in paginator.posts %}
    <div class="post-teaser" data-id="{{i}}">
      {% if post.thumbnail %}
      <!--<div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>-->
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt" style="text-align: justify">
            {{ post.content | strip_html | truncate: "250" }}
            <p></p>
            <a class="button" style="width: 100%;text-align: center" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>
          </div>
      </span>
    </div>
    {% assign i = i | plus: 1 %}
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
